<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3><%= rental.title %></h3>
        </div>
        <div class="card col-6 offset-3 show-card rental-card">
            <img class="card-img-top show-img" src="<%= rental.photos.url %>" alt="Rental Image">
            <div class="card-body">
                <p class="card-text" >Owned by:<i><%= rental.owner.username %></i></p>
                <p class="card-text" ><%= rental.description %></p>
                <p class="card-text" >&#8377;<%= rental.price.toLocaleString("en-IN") %> per month</p>
                <p class="card-text" ><%= rental.location.address %>, <%= rental.location.state %> - <%= rental.location.pincode %> </p>
                <p class="card-text" >Property Type: <%= rental.propertyType %></p>
                <p class="card-text" >Facilities: <%= rental.facilities || "Not specified" %></p>
                <p class="card-text" >Contact: <%= rental.contact.name %> (<%= rental.contact.phone %>) </p>
                <p class="card-text" >
                    <% if (rental.contact.email) { %>
                        Email: <%= rental.contact.email %><br>
                    <% } %></p>
            </div>
        </div>
        <% if( currUser && currUser._id.equals(rental.owner._id)){ %>
        <div class="btns mb-3">
            <a class="btn btn-dark col-1 offset-3 edit-btn" href="/rentals/<%= rental._id %>/edit">Edit</a>
            <form method="post" action="/rentals/<%= rental._id %>/?_method=DELETE" style="display: inline;">
                <button class="btn btn-dark offset-5 del-btn">
                    Delete 
                    <div class="del-icn">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </button>
            </form>
        </div>
        <% } %>
    </div>

    <!-- review page -->
    <div class="col-8 offset-3 mb-3">
        <% if(currUser){ %>
            <hr>
            <h4>Leave a review:</h4>
            <form action="/rentals/<%= rental._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-grow">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]"  value="1"  />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div> 
                <!-- Rating div end here -->
                <div class="mt-3 mb-3">
                    <label for="comment" class="form-label">Comments:</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">please comment your reviews</div>
                </div>
                <button class="btn btn-outline-dark mb-3">Submit</button>
            </form>
        <% } %>
            <!-- All Reviews -->
            <% if(rental.reviews.length>0){ %>
                <p><b>All Reviews</b></p>
                <hr>
                <div class="row">
                    <% for(review of rental.reviews){ %>
                        <div class="card col-5 mb-3 ms-3 ">
                            <div class="card-body mb-2">
                                <h5 class="card-title">@<%= review.author.username%></h5>
                                <p class="starability-result " data-rating="<%= review.rating %>"></p>
                                <p class="card-text"><%= review.comment %></p>
                            </div>
                            <%if(currUser &&review.author._id.equals(currUser._id)){ %>
                                <form class="mb-3" method="post" action="/rentals/<%= rental._id %>/reviews/<%= review._id %>/?_method=DELETE ">
                                    <button class="btn btn-sm btn-dark"> Delete</button>
                                </form>
                            <%}%>
                        </div>
                    <% } %>
                </div>
            <% } %>
    </div>
    <!-- Map View -->
    <div class="col-8 offset-3 mb-3">
        <h4>Location Details:</h4>
        <div id="map">
        </div>
    </div>
    <!-- map script -->
<script>
    const mapApi = "<%= process.env.MAP_API_KEY %>"; // Pass the API key
    const address="<%= rental.location.address %>,<%= rental.location.state %>,<%= rental.location.pincode %>"
</script>
    <script type="text/javascript" src='/Js/map.js'></script>


