<% layout("/layouts/boilerplate") %>
<body>

    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Rental Details:</h3>
        </div>
        <div class="card col-6 offset-3 show-card">
            <img class="card-img-top show-img" src="<%= rental.photos %>" alt="Rental Image">
            <div class="card-body">
                <p class="card-text">
                    <b><%= rental.title %></b><br>
                    <%= rental.description %> <br>
                    &#8377;<%= rental.price.toLocaleString("en-IN") %> per month<br>
                    <%= rental.location.address %>, <%= rental.location.state %> - <%= rental.location.pincode %> <br>
                    Property Type: <%= rental.propertyType %><br>
                    Facilities: <%= rental.facilities || "Not specified" %><br>
                    Contact: <%= rental.contact.name %> (<%= rental.contact.phone %>) <br>
                    <% if (rental.contact.email) { %>
                        Email: <%= rental.contact.email %><br>
                    <% } %>
                </p>
            </div>
        </div>
        
        <!-- Buttons -->
        <div class="btns mb-3">
            <a class="btn btn-dark col-1 offset-3 edit-btn" href="/rentals/<%= rental._id %>/edit">Edit</a>
            <form method="post" action="/rentals/<%= rental._id %>/?_method=DELETE" style="display: inline;">
                <button class="btn btn-dark offset-5 del-btn">
                    Delete 
                    <div class="del-icn">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </button>
            </form>
        </div>
    </div>

</body>
</html>
